{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'vanrouting/styles/base.css' %}">
    {% block site_css %}{% endblock %}
</head>

<body>
    <header class="main-heading">
        <nav><a href="" id="main-logo">
                <h1>Tracking Vehicles</h1>
            </a></nav>
        <h1>{% block main_heading %}{% endblock %}</h1>
        <p>{% block header_content %}{% endblock %}</p>
    </header>
    <main class="main-body">
        {% block body %}
        {% endblock %}
    </main>
    <section class="footer">
        {% block footer %}{% endblock %}
    </section>
</body>

</html>